<footer
  class="w-full h-10 border-t mt-8 flex justify-center items-center bg-stone-50 dark:bg-zinc-900 dark:border-zinc-700"
>
  <p class="text-sm dark:text-slate-50">
    © 2024 Yuri's Blog, All Rights Reserved.
  </p>
</footer>
