---
type Props = {
  tagName: string;
};

const { tagName } = Astro.props;
---

<span
  class="px-2 py-1 mr-1 text-xs font-semibold rounded-2xl border dark:text-slate-50 dark:border-zinc-700"
>
  {tagName}
</span>
