---
import Header from "@components/Header.astro";

type Props = {
  title: string;
  activeMenu: string;
};

const { title, activeMenu } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Yuri's Blogです。ゆるくTech関連のブログを掲載します。"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased bg-stone-50 dark:bg-zinc-900">
    <Header activeMenu={activeMenu} />
    <slot />

    <script is:inline>
      const localTheme = localStorage.getItem("theme");
      if (!localTheme) {
        // localStorageに値がない場合
        window.matchMedia("(prefers-color-scheme: dark)").matches &&
          document.documentElement.classList.add("dark");
      }
      if (localTheme === "dark") {
        // localStorageに値がある場合
        document.documentElement.classList.add("dark");
      }
    </script>
  </body>
</html>
