---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <!-- !viewportは表示領域、画面サイズとは違う。メディアクエリはviewportを見ることに注意 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- !favicon -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<!-- !styleはモバイルファーストで記述すること -->
